#   Python
*.db
*.json
__pycache__/
.venv/
*.pyd
*.pyo
*.pyc
.env
*.sqlite3

#   VSCode or PyCharm
.idea/

#   OS-specific
.DS_Store
Thumbs.db

#   Docker-specific
*.log
*.pid
*.tar
*.sock
docker-compose.override.yml
.env.docker